@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$max_display_width: 1455px;

$red_accent_color: #D32531;
$grey_bgr_color: #F5F5F5;

body {
    background: $grey_bgr_color;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
}

button, input {
    font-family: 'Roboto', sans-serif;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    width: 100%;
    min-height: 80px;

    &_xs {
        background: rgba($color: #000, $alpha: 0.03);
        min-height: 50px;
        display: none;

        & > .info-section__list {
            margin: 0;
        }

        @media screen and (max-width: 1165px) {
            
            display: flex;

            & > .info-section__list {
                display: flex;
            }
        }

        @media screen and (max-width: 690px) {
            & > .info-section__list > li:nth-child(1) {
                display: none;
            }
        }

        @media screen and (max-width: 545px) {
            & > .info-section__list > li:nth-child(4) {
                margin: 0;
            }
            & > .info-section__list > li:nth-child(5) {
                display: none;
            }
        }

        @media screen and (max-width: 420px) {
            & > .info-section__list > li:nth-child(2) {
                display: none;
            }
        }
    }

    &__list-item {
    
        margin-right: 25px;
        color: rgba($color: #000000, $alpha: 0.65);
    
        & > i {
            font-size: 22px;
            margin: 0 3px;
            color: #000000;
        }
    }

    &__auth {
        
        margin-left: auto;

        @media screen and (max-width: 469px) {
            .info-section__register-btn, .info-section__login-btn {
                display: none;
            }
        }
        @media screen and (min-width: 470px) {
            .info-section__mobile-btn {
                display: none;
            }
        }
    }

    &__btn {
        font-weight: 500;
        font-size: 16px;
        outline: none;
    
        &:hover {
            transition: .1s;
        }
    }

    &__register-btn {
        color: rgba($color: #000000, $alpha: 0.75);
        background: rgba($color: #000000, $alpha: 0);
        border: none;
    
        &:hover {
            color: #000;
        }
    }
    
    &__login-btn {
        border: solid 1px $red_accent_color;
        background: rgba($color: #000000, $alpha: 0);
        color: $red_accent_color;
        border-radius: 25% / 50%;
        padding: 10px 15px;
    
        &:hover {
            background: $red_accent_color;
            color: #fff;
        }
    }
    
    &__mobile-btn {
        padding: 0;
        font-size: 24px;
        line-height: 24px;
        border: none;
        background: none;
    }
}

.container {
    display: flex;
    align-items: center;
    max-width: $max_display_width;
    padding: 0 15px;
    width: 100%;
}

.info-section__logo {
    height: 45px;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.info-section__list {
    
    margin-left: 45px;
    
    @media screen and (max-width: 1165px) {
        display: none;
    }
}

.list-item {
    font-weight: 500;
    flex: auto;
    display: flex;
    align-items: center;
}

.category-bar {
    background: $red_accent_color;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__container {
        position: relative;
        padding: 0;
    }

    .category-bar__list {
        flex-wrap: wrap;
        overflow: hidden;
        height: 19px;
    
        @media screen and (max-width: $max_display_width) {
            padding-left: 15px;
        }
    }
    
    &__list-item {
        
        margin-right: 25px;
        color: #fff;
    
        &:hover {
            color: rgba($color: #fff, $alpha: 0.75);
        }
    
        cursor: pointer;
    
        @media screen and (max-width: 375px) {
            & {
                margin-right: 10px;
            }
        }
    
        @media screen and (max-width: 991px) {
            &:hover {
                background: rgba($color: #fff, $alpha: 0.1);
            }
        }
    }
    
    &__more-btn {
        background: none;
        border: none;
        padding: 0;
        font-size: 19px;
        color: #fff;
        outline: none;
        margin-right: 15px;
    
        & > i {
            position: relative;
            top: 3px;
        }
    
        &:hover {
            color: rgba($color: #fff, $alpha: 0.75);
        }
    
        @media screen and (min-width: 991px) {
            display: none;
        }
    }
    
    &__list__active {
        
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0;
     
        & + .category-bar__more-btn {
            position: absolute;
            top: 2.5px;
            right: 0px;
            font-size: 24px;
        }
        
        & > li {
            margin: 0;
            padding: 7.5px 0;
            padding-left: 15px;
        }
    }
    
    &__search-container {
        
        margin-left: auto;
        margin-right: 15px;
        
        & > i { 
            color: #fff;
        }
    
        @media screen and (max-width: 1150px) {
            display: none;
        }
    }
    
    &__search {
        font-size: 16px;
        font-weight: 500;
        border: none;
        background: none;
        color: #fff;
        outline: none;
        width: 130px;
    
        &:hover {
            &::placeholder {
                color: rgba($color: #fff, $alpha: 0.35);
            }
        }
    
        &::placeholder {
            color: rgba($color: #fff, $alpha: 0.55);
        }
    }
    
}

.search-bar {
    width: 100%;
    min-height: 60px;
    display: none;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1150px) {
        display: flex;
    }

    &__container {
    
        & > .category-bar__search {
            color: #000;
            font-size: 18px;
            width: 140px;
        }
    
        & > i {
            font-size: 18px;
        }
    
        & > .category-bar__search::placeholder {
            color: rgba($color: #000, $alpha: 0.55);
        }
    }
}

.main {
    display: flex;
    justify-content: center;

    &__container {
        display: block;
    }
}

.head-title {
    font-size: 38px;
    color: rgba($color: #000, $alpha: 0.15);
}

.articles-container {
    display: flex;
}

.side-bar {
    // height: fit-content; //
    width: 290px;
    background: #fff;
    margin-right: 10px;
    margin-bottom: 10px;

    @media screen and (max-width: 666px) {
        width: 210px;
    }

    @media screen and (max-width: 567px) {
        display: none;
    }

    &__item-container {
        margin: 20px 30px;
        padding-bottom: 10px;
        border-bottom: solid 1px rgba($color: #000, $alpha: 0.15);
    }
    
    &__item-meta {
        margin: 5px 0;
        font-size: 14px;
        font-weight: 500;
        color: rgba($color: #000, $alpha: 0.5);
    }
    
    &__item-meta_tag {
        margin-top: 10px;
        color: $red_accent_color;
    }
    
    &__title {
        margin: 30px;
    }
    
    &__item {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: rgba($color: #000, $alpha: 0.75);
    
        &:hover {
            color: rgba($color: #000, $alpha: 1);
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.content {
    width: 100%;
}

.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 10px;

    &_md {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
    }
}

.article {
    background: #fff;
    min-height: 225px;
    display: flex;
    position: relative;

    @media screen and (max-width: 1100px) {
        .publication-time, .meta-info__tag-item {
            font-size: 12px;
        }
    }

    &_md {
        min-height: 165px;
        flex: 1 0 30%;
        flex-direction: column;
        padding-bottom: 300px;
    }

    &-title {
        margin: 0;
    
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &_lg {
            color: #fff;
        }
    }
    
    &-subtitle {
        color: rgba($color: #000, $alpha: 0.85);
        padding-top: 10px;
        margin: 0;

        &_lg {
            color: #fff;
        }
    }
    
    &__preview {
        width: 100%;
        height: 100%;
        background-image: url('assets/images/png/preview_1.png');
        background-size: cover;

        &_md {
            position: absolute;
            bottom: 0;
            height: 300px;
        }
    }
    
    &_lg {
        background-image: url('assets/images/png/preview_1.png');
        background-size: cover;
        background-position: center;
        min-height: 400px;
    }
    
    &-text-container_lg {
        margin-top: auto;
    }
}

.text-info {
    padding: 20px 40px;
    position: relative;

    &_lg {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.meta-info {
    display: flex;
    align-items: center;

    &__tag-item {
        color: $red_accent_color;
        border-radius: 50px;
        border: solid 1px $red_accent_color;
        padding: 5px 10px;
        margin-left: 5px;
        font-size: 14px;
        height: fit-content;
    }
    
    &__tag-item:first-child {
        margin-left: 15px;
    }
}

.publication-time {
    color: rgba($color: #000, $alpha: 0.5);
    font-weight: 500;

    &_lg {
        color: #fff;
    }
}

.darken {
    width: 100%;
    height: 100%;
    background: rgba($color: #000, $alpha: 0.5);
    position: absolute;
}

.more-articles-btn {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    background: $red_accent_color;
    outline: none;

    &:hover {
        color:rgba($color: #fff, $alpha: 0.75);
        cursor: pointer;
    }

    &-container {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.footer {
    width: 100%;
    background: #191819;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
        width: 100%;
        max-width: $max_display_width;
        margin: 15px;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
    }
}

.footer-links {
    display: flex;
    flex-wrap: wrap;

    &__title {
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 20px;
    }

    &__container {
        margin-right: 40px;
    }
    
    &__item {
        
        color: rgba($color: #fff, $alpha: 0.75);
        font-weight: 400;
        margin-right: 10px;
    
        & > i {
            font-size: 24px;
        }
    
        &:hover {
            color: rgba($color: #fff, $alpha: 1);
            cursor: pointer;
    
            & > i {
                color: rgba($color: #fff, $alpha: 0.75);
            }
        }
    
        & > i:hover {
            color: rgba($color: #fff, $alpha: 1);
        }
    }
}

.footer-partition_contacts {
    
    margin-left: auto;

    @media screen and (max-width: 655px) {
        margin-left: 0;
    }

    & .footer-links__container {
        margin-right: 0;
    }
}